
<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/UserPanel/Dashboard/Index">
                <i class="ti-dashboard menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#message" aria-expanded="false" aria-controls="ui-basic">
                <i class="ti-email menu-icon"></i>
                <span class="menu-title">Mesajlar</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="message">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/UserPanel/Message/ReceiverMessage">Gelen Mesajlar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/UserPanel/Message/SenderMessage">Gönderilen Mesajlar</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/UserPanel/Message/AddMessage">Yeni Mesaj Yaz</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/UserPanel/Default/Index">
                <i class="ti-announcement menu-icon"></i>
                <span class="menu-title">Duyurular</span>
            </a>
        </li>
        <li class="nav-item" >
            <a class="nav-link" href="/UserPanel/Profile/Index">
                <i class="ti-user menu-icon"></i>
                <span class="menu-title">Profil</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/UserPanel/Profile/Index">
                <i class="ti-settings menu-icon"></i>
                <span class="menu-title">Ayarlar</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/UserPanel/LogIn/LogOut">
                <i class="ti-power-off menu-icon"></i>
                <span class="menu-title">Çıkış Yap</span>
            </a>
        </li>
    </ul>
</nav>

